header .container-xl>svg,
.login-link svg {
    cursor: pointer;
    width: 18px;
    height: 18px;
}

header .container-xl>svg:hover,
header .container-xl>svg:focus,
.login-link:hover svg,
.login-link:focus svg {
    color: var(--color-theme-25);
}