@media (max-width: 575px) {
    header .btn-main {
        padding: 6px 10px;
        font-size: 13px;
    }

    .navbar-brand span {
        font-size: 18px !important;
    }

    .navbar-brand img {
        width: 40px;
        height: auto;
    }
}