#contact-form {
    max-width: 600px;
}

#contact-form .form-control {
    background-color: rgba(187, 187, 187, 0.15);
    border-color: var(--color-border);
    color: var(--color-text)!important;
    border-radius: 10px;
}

#contact-form .form-control::placeholder {
    color: var(--color-text);
}

#contact-form .form-control:focus {
    border-color: var(--color-theme);
    box-shadow: none;
}