.blog-card {
    background-color: transparent;
    border: 1px solid;
    border-image: linear-gradient(to right bottom, #8D4AEA, #EF31F9, #44006A);
    border-image-slice: 1;
}

.blog-card img {
    transition: 0.2s ease;
}

.blog-card:hover img {
    transform: scale(1.04);
}

.blog-card:hover h3 {
    color: var(--color-theme-25);
}