.hero .container-xl div {
    padding-right: 50% !important;
    background-image: url("../../public//assets/images/doughnut.png");
    background-repeat: no-repeat;
    background-size: auto 125%;
    background-position: right -20% top -30%;
    min-height: 600px;
}

.hero p {
    max-width: 510px;
}

@media (max-width: 1199px) {
    .hero .container-xl div {
        padding-right: 45% !important;
        background-size: auto 110%;
        background-position: right -30% top -30%;
    }

    .hero h1 {
        font-size: 68px;
    }
}

@media (max-width: 991px) {
    .hero .container-xl div {
        padding-right: 50px !important;
        background-size: auto 300px;
        background-position: right -10% bottom -10%;
        justify-content: flex-start !important;
    }

    .hero h1 {
        font-size: 68px;
    }
}

@media (max-width: 767px) {
    .hero h1 {
        font-size: 50px;
    }
}

@media (max-width: 575px) {
    .hero h1 {
        font-size: 40px;
    }

    .hero .container-xl div {
        background-position: right -20% bottom -20%;
    }
}