.plan li {
    background-image: url("../../public//assets/images/check.svg");
    background-size: 18px;
    background-repeat: no-repeat;
    background-position: left 0 top 1px;
}

.popular {
    background-color: var(--color-theme);
}

.popular .btn-main {
    background-color: var(--color-light);
    border-color: var(--color-light);
    color: var(--color-dark);
}

.popular .btn-main:hover,
.popular .btn-main:active,
.popular .btn-main:focus-visible {
  background-color: var(--color-light) !important;
  border-color: var(--color-light) !important;
  color: var(--color-dark);
  opacity: 0.9;
}